RewriteEngine On

# RewriteCond %{REQUEST_FILENAME} !-f 
# RewriteCond %{REQUEST_FILENAME} !-d 
# RewriteRule ^(.*)$ index.php?url=$1 [L,QSA]

# Disable Directory Browsing ---
Options All -Indexes

# Configure index page ---
DirectoryIndex home.php

RewriteRule ^data data.php
RewriteRule ^search/([a-zA-Z0-9-]+)$ search.php?search=$1 [L,QSA]
